# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
# .gitignore
# README.md
# nuxt.config.ts
# package-lock.json
# package.json
# public/robots.txt
# tsconfig.json
# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
